/* Common elements */

body {
    font-size: 67.5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: url(img/skateboard.body.jpg), url(img/skateboard.body.2.jpg);
    background-position: right bottom, top left;
    background-repeat: no-repeat, no-repeat;
    padding: 0, 0;
    margin: 0, 0;
    -webkit-background-size: 100vw 50%;
    -moz-background-size:100vw 50%;
    -o-background-size:100vw 50%;
    background-size: 100vw 50%;
}

h1 {
    color: #7e13d4;
    font-size: 2.0em;
    margin: 0.5 0 0.5 0;
    padding: 0;
}

h2 {
    color: #7e13d4;
    font-size: 1.7em;
    padding: 0px;
    margin: 0.5 0 0.35 0;    
}

p {
    font-size: 1.4em;
    line-height: 1.8em;
    color: #7e13d4;
    padding: 0px;
    margin: 0px 0.5em 0.75em 0px;    
}

ol{
    font-size: 1.5em;
    margin: 0 0 0 1.0;
    padding: 0 0 0 1.0;
}

ol li {
    margin: 0;
    padding: 0 0 0.2em;    
}

a, a:visited {
    color: #7e13d4;    
}

a:hover {
    color: #ffffff;
}

hr{
    padding: 0;
    margin: 1.5em 1.5em 0.75em 0.5em;
}

.contentWrapper {
    margin: 0 auto;
    max-width: 1170px;
    padding: 0 3.0;
}

.left {
    float: left;
}

.right {
    float: right;
}
/* Headers */

header {
    padding: 2.5em 0 0.5em;
    margin: 0 0 2.0em;
    background-image: url("img/skateboarding-games.jpg");
    background-position: top;
    filter: grayscale(30%);
    background-repeat: no-repeat;
    -webkit-background-size: 100vw 100%;
    -moz-background-size:100vw 100%;
    -o-background-size:100vw 100%;
    background-size: 100vw 100%;
    border-left: double #7e13d4 5px;
    border-top: double #ffffff 5px;
    border-right: double #7e13d4 5px;
    border-bottom: double #ffffff 5px;
    /* background-position */
}

header h1 {
    text-align: right;
    font-family: fantasy;
    color: #7e13d4;
    font-size: 7.5em;
    letter-spacing: -0.025em;
    margin: 0;
}

header h2 {
    text-align: right;
    font-style: oblique;
    font-weight: 400;
    font-size: 4.5em;
    color: #ffffff;
    margin: -0.4 0 0 1.0em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}
/* Nav Bars */

nav {   
    color: #000;
    font-size: 1.7em;
    letter-spacing: 0.04em;
    padding: 1.0em 1.0em 0.5em;
    margin: 1.0em 0;
}

nav ul {
    text-align: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin: 0;
}

nav li a, nav li a:visited {
    text-decoration: none;
    color: #ffffff;
    padding: 0.3 0.6;
}

nav li a:hover {
    color: #7e13d4;
    background-color: rgb(0, 0, 0)
}

nav#utilityMenu {
    float: left;
    position: fixed;
    z-index: 1;
    margin: -1.5em 0 0 0;
    padding: 0.35;
    background-color: #7e13d4;
    height: 1.3em;
}

nav#utilityMenu li {
    padding: 0 0.25 0 0.2;
    vertical-align: middle;
}

nav#utilityMenu ul li.acctNav a, nav#utilityMenu ul li.acctNav a:visited {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    height: 1.3em;
    padding: 0.5em;
    margin: -0.4em 0 0 0;
    font-size: 0.8em;
}

nav#utilityMenu ul li.acctNav a.active {
    background-color: #000000;
}

nav#utilityMenu ul li.acctNav a:hover {
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
}

nav#utilityMenu li a, nav#utilityMenu li a:visited { padding: 0; }
nav#utilityMenu li a:hover { background-color: transparent; }
nav#utilityMenu ul li input#search {
    vertical-align: middle;
    margin: 0 0 0 1.0;
}

nav#utilityMenu ul li.acctNav::before, nav#utilityMenu ul li input#search::before {
    content: "| ";
    color: #000000;
}
/* Sidebar Section */

section#sidebar {
    width: 238px;
    position: fixed;
    top: 30%;
    right: 3%;
    float: right;
    display: block;
    background-color: rgb(0, 0, 0);
    margin: 1.5em 0 3.0 11.5em;
    padding: 1.7em 0.5em 2.0em 1.7em;
    border-left: #7e13d4 double 8px;
    border-top: #ffffff double 8px;
    border-right: #7e13d4 double 8px;
    border-bottom: #ffffff double 8px;
}

/* width: 238px;
    position: static;
    float: right;
    display: block;
    background-color: rgb(0, 0, 0);
    margin: 1.5em 0 3.0 11.5em;
    padding: 1.7em 0.5em 2.0em 1.7em;
    border-left: #7e13d4 double 8px;
    border-top: #ffffff double 8px;
    border-right: #7e13d4 double 8px;
    border-bottom: #ffffff double 8px; */

/* Main Section */

section #main {
    background-color: rgba(252,251,243,0.7);
    margin: 0 0 2.0em;
    padding: 1.5em 0 2.0em 1.5em;
    display: inline-block;
    border-radius: 2em;
    box-shadow: 1px 1px 5px #777;
}

section div.panel {
    float: left;
    position: relative;
    width: 34%;
    margin: 0 0.5em 2.0em 0.5em;
    padding: 1.0em;
    background-color: rgb(0, 0, 0);
    border-left: #7e13d4 double 5px;
    border-top: #ffffff double 5px;
    border-right: #7e13d4 double 5px;
    border-bottom: #ffffff double 5px;
    border-radius: 0.6em;
}

section div.panel img.Company {
    width: 100%;
}

/* Footer */

footer {
    background-color: #000000;
    height: 25px;
    font-size: 1.5em;
    color: #7e13d4;
    text-align: center;
    padding: 1.5em 2.0em;
}

footer ul#menuFooter {
    display: inline-block;
    list-style: none;
    margin: 0 0 0 0.6em;
    padding: 0;
}

footer ul li {
    display: inline-block;
    padding: 0 0.7em 0 0;
    margin: 0;
}

footer ul li::before {
    content: "|";
    color: #7e13d4;
    padding-right: 0.7em;
}

footer a, footer a:visited {
    color: #7e13d4;
    text-decoration: none;
}

footer a:hover{
    color: #fff;
    text-decoration: underline;
}

div.clear {
    clear: both;
    font-size: 1%;
}

button {
    color: #000000;
    background-color: #fff;
    display: inline-block;
    margin: 0 0.75em 0 0;
    padding: 0.2em 0.5em;
    border: 4px ridge #7e13d4;
    text-transform: uppercase;
}

button:hover {
    background-color: #7e13d4;
    border: 4px inset #ffffff;
}
